:root {
  --point-color: #1e88e5;
}

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #252525;
}

button {
  background: none;
  border: 0;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

input {
  border: 1px solid #252525;
  padding: 5px 10px;
}

input:focus,
input:active {
  outline: none;
  border-color: var(--point-color);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  height: 60px;
  padding: 0 10px;
}

.logo h1 {
  color: #f3f3f3;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  margin: 0;
  padding-left: 10px;
}

.logo i {
  color: #ff0000;
}

.nav-buttons {
  display: flex;
}

.nav-search {
  display: flex;
}

.nav-search input {
  display: none;
}

.nav-search .show {
  display: inline-block;
}

.nav-buttons button {
  color: #f3f3f3;
}

.video-player {
  width: 100%;
  max-height: 650px;
  outline: none;
  background-color: #000;
}

.video-info {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

.video-title-wrapper {
  order: 0;
  display: flex;
  align-items: flex-start;
}

.video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.video-title button {
  margin-top: 5px;
}

.video-history,
.subscriber-info {
  font-size: 0.9em;
}

.video-history,
.subscriber-info,
.next-video-info p {
  color: #757575;
}

.video-tags {
  order: -1;
}

.video-tags,
.video-buttons {
  list-style: none;
  display: flex;
  margin: 10px 0 0 0;
  padding: 0;
}

.video-tags li {
  margin-right: 10px;
}

.video-tags li a {
  display: block;
  font-size: 0.9em;
  color: var(--point-color);
}

.video-buttons {
  justify-content: space-around;
  margin: 0;
  padding: 10px 0;
}

.video-buttons button {
  color: #757575;
}

.video-buttons button:hover i {
  color: var(--point-color);
}

.video-buttons .selected i {
  color: var(--point-color);
}

.video-buttons button i {
  font-size: 1.1em;
  display: block;
  margin-bottom: 5px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  padding: 10px 0px;
  border: solid #e8e8e8;
  border-width: 1px 0;
}

.user-info a {
  display: flex;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-text {
  flex-grow: 2;
  padding: 0 15px;
}

.user-name {
  margin: 0;
}

.subscriber-info,
.next-video-info p b {
  font-weight: normal;
}

.user-info button {
  text-transform: uppercase;
  color: #ff0000;
}

.up-next-video {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.up-next-video .section-title {
  color: #757575;
  font-size: 0.9em;
  font-weight: normal;
}

.next-video {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.next-video .thumbnail {
  width: 30%;
  min-width: 175px;
  min-height: 100px;
}

.next-video-info {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  padding: 0 10px;
}

.next-video-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 0.9em;
}

.next-video-info p {
  font-size: 0.7em;
}
